n8n-rag-workflow-template.json
{
  "name": "n8n-rag-workflow-example",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.fileName}}",
              "operation": "regex",
              "value2": "\\.(pdf|txt|log|csv|doc|docx)$"
            }
          ]
        }
      },
      "id": "9f65433d-ea6b-4cbb-9b4d-5705563ad754",
      "name": "Filter Supported Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -560,
        -368
      ]
    },
    {
      "parameters": {
        "fileSelector": "/files/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -816,
        -368
      ],
      "id": "ce6ad64d-1823-4112-adf6-f83dd7146255",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -640,
        -64
      ],
      "id": "6c2009a1-ce30-4f01-a4dd-366bd985a52e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -720,
        128
      ],
      "id": "ed8ffb96-846a-4c56-b65e-cd4d2390b27a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "64vwAUkzvF49WmSp",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Find rag based data",
        "qdrantCollection": {
          "__rl": true,
          "value": "local_docs",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -576,
        128
      ],
      "id": "724340bf-c443-479e-b7eb-4bef4c6bed0f",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "RKsozis3bYkBIcrW",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:3b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -576,
        288
      ],
      "id": "66702ccf-433f-42af-91b6-d553a16936b8",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "64vwAUkzvF49WmSp",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "local_docs",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -32,
        -384
      ],
      "id": "8ddd1e05-0edb-4f5f-9d18-a8578fc751cf",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "RKsozis3bYkBIcrW",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:3b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -32,
        -176
      ],
      "id": "8719b262-d2ae-4e6d-b30d-8fea655e6902",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "64vwAUkzvF49WmSp",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        -64
      ],
      "id": "4343d358-b4c4-4488-8aaa-6c74c463e535",
      "name": "When chat message received",
      "webhookId": "47478330-25e9-422d-8ac5-c0253b263609"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        16,
        -32
      ],
      "id": "7da5514b-e168-448c-8dff-7077f3fc9cf3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -304,
        -384
      ],
      "id": "0a653b95-ea77-4d5a-a32e-4e95e3da85d5",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -368
      ],
      "id": "f0329509-366f-4996-b202-96c511252afe",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Filter Supported Files": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Filter Supported Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a55acd89-e31a-414e-8f35-85d08fc294e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ede2db55404ba269de5949533d39df46a5db18db86926207c07865a3e6541e50"
  },
  "id": "0VJYwy1Z1q6ISJbB",
  "tags": []
}