n8n-templates/initialize-chromadb.json
{
  "name": "Initialize ChromaDB for Local Docs",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [250, 300],
      "typeVersion": 1,
      "notes": "Run this once to setup ChromaDB collection"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://localhost:8000/api/v1/collections/local_docs",
        "options": {
          "ignoreResponseCode": true,
          "timeout": 5000
        }
      },
      "id": "delete-existing",
      "name": "Delete Existing Collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 300],
      "typeVersion": 3,
      "notes": "Removes existing collection if it exists",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Wait a moment for deletion to complete\nawait new Promise(resolve => setTimeout(resolve, 1000));\n\nreturn {\n  message: 'Waited for deletion to complete',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.function",
      "position": [650, 300],
      "typeVersion": 1,
      "notes": "Brief pause to ensure deletion is complete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/collections",
        "options": {
          "bodyContentType": "json",
          "timeout": 5000
        },
        "bodyParametersJson": "{\n  \"name\": \"local_docs\",\n  \"metadata\": {\n    \"description\": \"Local/mapped drive documents for RAG\",\n    \"created_at\": \"{{new Date().toISOString()}}\",\n    \"source\": \"G: drive or local filesystem\",\n    \"workshop\": \"Oz AI Workshop - Sept 2025\"\n  }\n}"
      },
      "id": "create-collection",
      "name": "Create Collection",
      "type": "n8n-nodes-base.httpRequest",
      "position": [850, 300],
      "typeVersion": 3,
      "notes": "Creates new ChromaDB collection"
    },
    {
      "parameters": {
        "functionCode": "// Verify collection was created\nconst result = $input.item.json;\n\nif (result.name === 'local_docs') {\n  return {\n    success: true,\n    message: 'ChromaDB collection \"local_docs\" created successfully!',\n    collection_name: result.name,\n    collection_id: result.id,\n    metadata: result.metadata,\n    next_steps: [\n      '1. Run the \"Local Drive Document Indexer\" workflow to index files',\n      '2. Activate the \"Local Drive Q&A System\" workflow',\n      '3. Test with sample questions about your documents'\n    ],\n    timestamp: new Date().toISOString()\n  };\n} else {\n  throw new Error('Collection creation failed - unexpected response');\n}"
      },
      "id": "verify-success",
      "name": "Verify Success",
      "type": "n8n-nodes-base.function",
      "position": [1050, 300],
      "typeVersion": 1,
      "notes": "Confirms collection was created successfully"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Delete Existing Collection"}]]
    },
    "Delete Existing Collection": {
      "main": [[{"node": "Wait"}]]
    },
    "Wait": {
      "main": [[{"node": "Create Collection"}]]
    },
    "Create Collection": {
      "main": [[{"node": "Verify Success"}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "initialize-chromadb-local",
    "templateVersion": "1.0.0",
    "templateDescription": "Initializes ChromaDB collection for local document storage"
  }
}